<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cyber Phone</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
  <link rel="stylesheet" href="../../home/css/styler.css" />

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark gradient-custom fixed-top mb-5">
      <div class="container-fluid">

        <a class="navbar-brand mx-5" href="#"> <i class="fa-solid fa-tty me-3"></i></i>Cyber Phone </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto nav1">
            <li class="nav-item text-center mx-5">
              <a class="nav-link active" href="" role="button" aria-haspopup="true" aria-expanded="false">
                <div>
                  <i class="fas fa-home fa-xl mb-1"></i>
                </div>
                Home
              </a>
            </li>

            <li class="nav-item text-center">
              <a class="nav-link active" href="http://127.0.0.1:5500/admin/view/index.html" role="button"
                aria-haspopup="true" aria-expanded="false">
                <div>
                  <i class="fa-solid fa-xl fa-user-gear"></i>
                </div>
                Admin Portal
              </a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto nav2">
            <li class="nav-item text-center ">
              <a class="nav-link  js-toggle-cart active" role="button" aria-haspopup="true" aria-expanded="false">
                <div>
                  <i class="fa-solid fa-xl fa-shopping-cart"></i>
                  <span class="badge rounded-pill badge-notification bg-light text-dark" id='cartCount'></span>
                </div>
                Cart
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container" id="content-wrap">
    <main role="main" class="w-25">

      <div class="my-5 ">
        <div class="container">
          <select class="form-select " id="selectList" aria-label="Default select example">
            <option value="all">All Brands</option>
            <option value="Apple">Apple</option>
            <option value="Samsung">Samsung</option>
          </select>
        </div>
        <div class="row mx-0 gy-4" id="phoneList">
        </div>
      </div>

    </main>
  </div>
  <div id="IDshow" class="product">

  </div>
  <!-- <div class="meh">
    <div class="cart is-hidden">
      <div class="cart__overlay"></div>
      <div class="cart__contents">
        <div class="cart__products">
          <h2>Shopping Cart</h2>
          <p class="microcopy">An overview of your selected products.</p>
          <div class="products" id='cartList'>
          </div>
        </div>
        <div class="cart__totals">
          <table class="totals">
            <tbody>
              <tr>
                <th class="align-left font-normal tertiary">Subtotal</th>
                <td class="align-right" id="subTotal">$0</td>
              </tr>
              <tr>
                <th class="align-left font-normal tertiary">Shipping <small>(estimated)<small></th>
                <td class="align-right" id="shipping">$0</td>
              </tr>
              <tr>
                <th class="align-left font-normal tertiary">Tax <small>(estimated)<small></th>
                <td class="align-right" id="tax">$0</td>
              </tr>
              <tr>
                <th class="align-left">Total</th>
                <td class="align-right" id="priceTotal">$0</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" class="tertiary"><small>Estimations based on New York, United States</small></td>
              </tr>
            </tfoot>
          </table>
          <div class="form__footer">
            <button class="btn first js-toggle-cart">Continue Shopping</button>
            <button class="btn" onclick="payNow()" id="payNow">Pay Now</button>
            <button class="btn me-5 ms-0 px-4" onclick="emptyCart()" id="emptyCart"><i
                class="fa-solid fa-trash me-2"></i> Empty Cart</button>

          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="cart">
    <div class="side-nav" style="right: 0px;">
      <button onclick="sideNav(0)"><i class="fas fa-times"></i></button>
      <h2>Cart</h2>
      <div class="cart-items"><span class="empty-cart">Looks Like You Haven't Added Any Product In The Cart</span></div>
      <div class="final">
        <strong>Total: $ <span class="total">0</span></strong>
        <div class="action">
          <button onclick="buy(1)" class="btn buy">Purchase <i class="fas fa-credit-card"
              style="color:#6665dd;"></i></button>
          <button onclick="clearCart()" class="btn clear">Clear Cart <i class="fas fa-trash"
              style="color:#bb342f;"></i></button>
        </div>
      </div>
    </div>
  </div> -->


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    $('.js-toggle-cart, .cart__overlay').on('click', function () {
      $('.cart').toggleClass('is-hidden');
    });
  </script>



  <script type="module" src="../../home/controllers/main.js"></script>
</body>

</html>